name: Long Usage

on: push

jobs:
  convert_via_pandoc:
    runs-on: ubuntu-22.04
    steps:
      - run: echo "foo" > input.txt # create an example file
      - uses: docker://pandoc/core:2.9
        with:
          args: >- # allows you to break string into multiple lines
            --standalone
            --output=index.html
            input.txt
      - uses: EndBug/add-and-commit@v9
        with:
          message: 'Add output file'
          add: '*.html --force'
          cwd: './outputs/'
